<html>
<head>
<title>My stocks</title>
<script src="/js/jquery-1.4.4.min.js"></script> 

<script>
  function deleteRow(key, row) {
    $.ajax({
      url: '/position/'+key,
      type: 'DELETE',
      success: function(result) {
          $(row).closest('tr').fadeOut();
      }
    });
  }
</script>
<style>
  body {
    font-family: monospace;
    font-size: 12px;
  }
  .errorlist {
    display:inline;
    margin: 0;
    padding: 0;
  }
  .errorlist li {
    background-color: red;
    color: white;
    display: inline;
    font-size: 1em;
    margin: 0;
    padding: 2px;;
    text-align:left;
  }

  table {
    margin: 2em;
    border: 1px solid gray;
  }
  
  table caption {
    text-align:left;
  }

  th {
    text-align:right;
    white-space:nowrap;
  }
  .portfolio td {
    text-align:right;
    white-space:nowrap;
  }

  .negative {
    color: red;
  }
  .inline {
    display:inline;
  }
</style>
</style>
</head>
<body>
<a href="?show_closed=true">Show closed positions</a>
<a href="?show_closed=false">Show only open positions</a>
<a href="/download/quotes">Get quotes</a>
<a href="/download/historical_quotes">Get historical quotes</a>
<a href="/download/currencies">Get currencies</a>
{% for portfolio in portfolios %}
<table border="1" class="portfolio">
<caption>Portfolio: {{portfolio.name}} - R={{portfolio.risk_unit}}
<form class="inline" action="/cash" method="POST">
<input name="key" type="hidden" value="{{portfolio.key}}"/>
Cash<input name="cash" value="{{portfolio.cash}}" size="6"/>{{portfolio.currency}}
- Other<input name="other" value="{{portfolio.other}}" size="6"/>{{portfolio.currency}}
- Nominal Value<input name="nominal_value" value="{{portfolio.nominal_value}}" size="6"/>{{portfolio.currency}}
<input type="submit" value="Update"/></form>
</caption>
<tr>
<th></th>
<th>Symbol</th>
<th>Date</th>
{# <th>Enter Date</th> #}
{# <th>Value</th> #}
<th>Value</th>
<th>Cost</th>
<th>Gain</th>
<th>Gain %</th>
<th>Risk</th>
<th>RTR</th>
<th>Shares</th>
<th>Enter Price</th>
<th>Price</th>
<th>Stop</th>
<th>Sugg stop</th>
<th>Sugg pos</th>
<th>ATR 20</th>
<th>Enter ATR 20</th>
<th>LL 10</th>
<th>Unit2</th>
</tr>

{% for position in portfolio.GetAllPositions %}
<tr>
<td><a href="#" onclick="return deleteRow('{{position.key}}', this)">D</a></td>
<td><a href="/position/{{position.key}}">{{position.symbol}}</a></td>
<td>{{position.realtime_quote.date}}</td>
{# <td>{{position.enter_date}}</td> #}
<td title="{{ position.value|stringformat:'10.2f' }} {{position.currency}}">{{ position.GetValue|stringformat:'10.2f' }}</td>
<td>{{ position.GetTotalBuyingCost|stringformat:'10.2f' }}</td>
<td{% if position.loosing %} class="negative"{% endif %}>{{ position.GetGain|stringformat:'10.2f' }}</td>
<td{% if position.loosing %} class="negative"{% endif %}>{{ position.GetGainPercentage|stringformat:'2.2f%%' }}</td>
<td{% if position.too_risky %} class="negative"{% endif %}>{{ position.GetRisk|stringformat:'10.2f' }}</td>
<td{% if position.below_stop %} class="negative"{% endif %}>{{position.GetRtr|stringformat:'.2f' }}</td>
<td>{{position.GetOutstandingShares }}</td>
<td>{{position.GetShareAverageCost|stringformat:'10.2f' }}</td>
<td>{{position.realtime_quote.price|stringformat:'10.2f' }}</td>
<td{% if position.below_stop %} class="negative"{% endif %}>{{position.GetStop|stringformat:'10.2f' }}</td>
<td title="enter price - 3 times the enter atr 20">{{position.suggested_stop|stringformat:'10.2f' }}</td>
<td title="">{{position.suggested_shares|stringformat:'.0f' }}</td>
<td>{{ position.atr_20|stringformat:'10.2f' }}</td>
<td>{{ position.atr_20_at_enter|stringformat:'10.2f' }}</td>
<td{% if position.below_ll_10  %} class="negative"{% endif %}>{{position.ll_10|stringformat:'10.2f' }}</td>
<td>{{ position.second_unit|stringformat:'10.2f' }}</td>
</tr>
{% endfor %}
<tr>
<th colspan="3">Total</th>
<td>{{ portfolio.local_value|stringformat:'10.2f' }}</td>
<td>{{ portfolio.cost|stringformat:'10.2f' }}</td>
<td{% if portfolio.loosing %} class="negative"{% endif %}>{{ portfolio.gain|stringformat:'10.2f' }}</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

</table>

{% endfor %}
<table border=1>
<caption>Currencies</caption>
<tr>
<th>Symbol</th>
<th>Rate</th>
<th>Date</th>
</tr>
{% for currency in currencies %}
<tr>
<td>{{currency.symbol}}</td>
<td>{{currency.rate}}</td>
<td>{{currency.date}}</td>
</tr>
{% endfor %}
</table>
<form action="/transaction/{{form.instance.key}}" method="POST">
<table border="0">
<caption>Add a new transaction</caption>
  <td>{{form.non_field_errors}}</td>
<tr class="fieldWrapper">
  <th><label for="id_position">Position</label></th>
  <td>{{ form.position }} {{form.position.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_is_buying">Buying</label></th>
  <td>{{ form.is_buying }} {{form.is_buying.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_quantity_list">Quantities</label></th>
  <td>{{ form.quantity_list }} {{form.quantity_list.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_price_list">Enter prices</label></th>
  <td>{{ form.price_list }} {{form.price_list.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_stop">Stop</label></th>
  <td>{{ form.stop }} {{form.stop.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_date">Date</label></th>
  <td>{{ form.date }} {{form.date.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_fees">Fees</label></th>
  <td>{{ form.fees }} {{form.fees.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_taxes">Taxes</label></th>
  <td>{{ form.taxes }} {{form.taxes.errors}}</td>
</tr>
{% comment %}
<tr class="fieldWrapper">
  <th><label for="id_currency">Currency</label></th>
  <td>{{ form.currency }} {{form.currency.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_currency_rate">Currency rate</label></th>
  <td>{{ form.currency_rate }} {{form.currency_rate.errors}}</td>
</tr>
<tr><th>Position exit</th></tr>
<tr class="fieldWrapper">
  <th><label for="id_exit_date">Exit date</label></th>
  <td>{{ form.exit_date }} {{form.exit_date.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_exit_commission">Exit commission</label></th>
  <td>{{ form.exit_commission }} {{form.exit_commission.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_exit_price">Exit price</label></th>
  <td>{{ form.exit_price }} {{form.exit_price.errors}}</td>
</tr>
{% endcomment %}
<tr><th></th>
<td><input type="submit" value="save"></td>
</table>
</form>

<form action="/position/{{form.instance.key}}" method="POST">
<table border="0">
<caption>Add a new position</caption>
<tr class="fieldWrapper">
  <th><label for="id_portfolio">Portfolio</label></th>
  <td>{{ form.portfolio }} {{form.portfolio.errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_symbol">Symbol</label></th>
  <td>{{ form.symbol }} {{form.symbol.errors}} {{form.non_field_errors}}</td>
</tr>
<tr class="fieldWrapper">
  <th><label for="id_closed">Closed</label></th>
  <td>{{ form.closed }} {{form.closed.errors}}</td>
</tr>
<td><input type="submit" value="save"></td>
</table>
</form>
</body>
</html>
