<html>
<body>
<pre>
Portfolio: Avanza
---------------------------------------------------------------------------------------------------------------------------------------------------------------
Symbol      Enter Date  Date        Value       Gain        Shares      RTR         Enter Price Close       Stop        ATR EXP 20  LL10 Stop   ATR Stop    Unit2       Should sell?
---------------------------------------------------------------------------------------------------------------------------------------------------------------
AAPL 
</pre>
</body>
</html>
